
// VARIABLES

// Colors

$color1: #ffffff;
$color2: #000000;
$color3: #53ff00;
$color4: #7eef3c;
$color5: #009999;

// Media queries

$tablet1: "only screen and (min-width: 768px) and (max-width: 959px)";
$tablet2: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile: "only screen and (max-width: 479px)";

// Typography

#font1: ;

