
@import "reset";

// VARIABLES



// Colors

$color1: #ffffff; //white
$color2: #000000; //black
$color3: #53ff00; //green
$color4: #7eef3c; //accent light green
$color5: #009999; //teal
$color6: #606060; //dark grey
$color7: #cccccc; //light grey
$color8: #00cc00; //accent dark green



// Media queries

$tablet1: "only screen and (min-width: 768px) and (max-width: 959px)";
$tablet2: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile: "only screen and (max-width: 479px)";

$width1: 800px;
$width2: 700px;
$width3: 420px;
$width4: 240px;



// Typography

@font-face {
  font-family: 'arvo';
  src: url('../style/fonts/Arvo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arvobold';
  src: url('../style/fonts/Arvo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../style/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('../style/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('../style/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font1: 'arvo', serif;
$font2: 'lato', sans-serif;

$size1: 2em;
$size2: 1.7em;
$size3: 1.4em;
$size4: 1.2em;
$size5: 1em;
$size6: 0.8em;







// RULES



// Typography

h1 {
  font-family: $font1;
  color: $color6;
  font-size: $size2;
}

h2 {
  font-family: $font1;
  font-size: $size3;
}

p, ul {
  font-family: $font2;
  font-size: $size4;
}

a {
  font-family: $font2;
  text-decoration: none;
  color: $color7;
}

a:hover {
  color: $color5;
  transition: 0.3s;
}

ul {
  list-style: disc outside none;
}

li {
  margin-left: 1em;
}



// Block Elements

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background-color: $color3;
  position: relative;
  top: 0;
  display: block;
  height: 6em;
  box-shadow: 0 4px 2px #888888;
}

header h1 {
  width: $width1;
  margin: 0 auto;
  padding-top: 0.6em;
  color: $color1;
  font-size: $size1;
  text-align: left;
  text-shadow:2px 2px $color6;
  @media #{$tablet1} {
    width: $width2;
  }
  @media #{$tablet2} {
    width: $width3;
  }
}

header h1:hover {
  cursor: default;
}

.headerbar {
  background-color: $color4;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1.5em;
}

nav {
  background-color: $color8;
  width: $width1;
  margin-left: auto;
  margin-right: auto;
  height: 1.5em;
  text-align: center;
  @media #{$tablet1} {
    width: $width2;
  }
  @media #{$tablet2} {
    width: $width3;
  }
}

nav a{
  color: $color6;
  display: inline-block;
  text-align: center;
  width: 24%;
  font-weight: bold;
  //text-size: 1.5em;
  margin-top: 0.2em;
}

nav a:hover {
  color: $color5;
  transition: 0.3s;
}

main {
  width: $width1;
  margin: 0 auto;
  @media #{$tablet1} {
    width: $width2;
    //transition: 0.3s;
  }
  @media #{$tablet2} {
    width: $width3;
  }
}

article {
  margin-top: 2em;
}

