
@import "reset";

// VARIABLES



// Colors

$color1: #ffffff; //white
$color2: #000000; //black
$color3: #73df00; //green
$color4: #4ecf3c; //accent light green
$color5: #007777; //teal
$color6: #606060; //dark grey
$color7: #cccccc; //light grey
$color8: #00bb00; //accent dark green
$color9: #e0e0e0; //lightest grey



// Media queries

$tablet1: "only screen and (min-width: 768px) and (max-width: 959px)";
$tablet2: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile: "only screen and (max-width: 479px)";

$width1: 750px;
$width2: 600px;
$width3: 420px;
$width4: 240px;



// Typography

@font-face {
  font-family: 'arvo';
  src: url('../style/fonts/Arvo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arvobold';
  src: url('../style/fonts/Arvo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../style/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('../style/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('../style/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-gd3zza');
  src:url('fonts/icomoon.eot?#iefix-gd3zza') format('embedded-opentype'),
    url('fonts/icomoon.woff?-gd3zza') format('woff'),
    url('fonts/icomoon.ttf?-gd3zza') format('truetype'),
    url('fonts/icomoon.svg?-gd3zza#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e600";
}

$font1: 'arvo', serif;
$font2: 'lato', sans-serif;

$size1: 2em;
$size2: 1.7em;
$size3: 1.4em;
$size4: 1.2em;
$size5: 1em;
$size6: 0.8em;







// RULES



// Typography

h1 {
  font-family: $font1;
  color: $color6;
  font-size: $size2;
  margin-top: .5em;
  margin-bottom: .5em;
  @media #{$mobile} {
    font-size: $size2 * 0.6;
  }
}

h2 {
  font-family: $font2;
  font-size: $size3;
  margin-top: .5em;
  margin-bottom: .5em;
  @media #{$mobile} {
    font-size: $size3 * 0.6;
  }
}

p, ul {
  font-family: $font2;
  //font-size: $size4;
  @media #{$mobile} {
    //font-size: $size4 * 0.7;
  }
}

p {
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: $size4;
  @media #{$mobile} {
    font-size: $size4 * 0.7;
  }
}

a {
  font-family: $font2;
  text-decoration: none;
  color: $color5;
}

a:hover {
  color: $color7;
  transition: 0.3s;
}

ul {
  list-style: disc outside none;
  font-size: $size5;
  @media #{$mobile} {
    font-size: $size5 * 0.7;
  }
}

li {
  margin-left: 1em;
  @media #{$mobile} {
    margin-left: 1.1em;
  }
}

.ul-square {
  list-style: square outside none;
}

.list-col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  background-color: $color9;
}

.list-col li {
  width: 90%;
  vertical-align: baseline;
  display: inline-block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  //background-color: $color9;
}

.contact-info {
  display: block;
  width: 40%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: $color9;
  @media #{$tablet1} {
    width: 50%;
  }
  @media #{$tablet2} {
    width: 50%;
    font-size: $size4 * 0.8;
  }
  @media #{$mobile} {
    width: 70%;
    font-size: $size4 * 0.6;
  }
}

.contact-info a:hover {
  color: $color5;
}

small {
  font-family: $font2;
  color: $color6;
}

small a:hover {
  color: $color1;
  transition: 0.3s;
}

.bumpreturn {
  font-size: $size1;
  position: fixed;
  right: 1.5em;
  bottom: 2em;
  @media #{$tablet2} {
    visibility: hidden;
    //font-size: $size2;
    //right: 2em;
    //top: 0.4em;
    //bottom: auto;
    //transition: 0.3s;
  }
  @media #{$mobile} {
    visibility: hidden;
    //font-size: $size2;
    //right: 1em;
    //top: 0.4em;
    //bottom: auto;
    //transition: 0.3s;
  }
}

.bumptop {
  font-size: $size2;
  position: absolute;
  right: 2em;
  top: 0.4em;
  @media #{$mobile} {
    right: 1em;
  }
}



// Block Elements

// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: $color1;
}

header {
  width: 100%;
  background-color: $color3;
  //position: relative;
  position: fixed;
  top: 0;
  display: block;
  height: 6em;
  box-shadow: 0 4px 2px #888888;
  @media #{$tablet2} {
    position: fixed;
    height: 3em;
    transition: 0.3s;
  }
  @media #{$mobile} {
    position: fixed;
    height: 3em;
    transition: 0.3s;
  }
}

header.menu {
  @media #{$tablet2} {
    height: 9em;
    transition: 0.3s;
  }
  @media #{$mobile} {
    height: 9em;
    transition: 0.3s;
  }
}

.name {
  margin: 0;
  padding: 0;
  //background-color:red;
  @media #{$tablet2} {
    position: absolute;
    height: 3em;
    width: 100%;
    bottom: 0;
  }
  @media #{$mobile} {
    position: absolute;
    height: 3em;
    width: 100%;
    bottom: 0;
  }
}

header h1 {
  width: $width1;
  margin: 0 auto;
  padding-top: 0.6em;
  color: $color1;
  font-size: $size1;
  text-align: left;
  text-shadow:2px 2px $color6;
  @media #{$tablet1} {
    width: $width2;
  }
  @media #{$tablet2} {
    width: $width3;
    font-size: $size1 * 0.6;
  }
  @media #{$mobile} {
    width: $width4;
    font-size: $size1 * 0.6;
    //margin-left: auto;
    //margin-right: auto;
  }
}

header h1:hover {
  cursor: default;
}

// Menu is hidden in mobile view
#headerbar {
  background-color: $color4;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1.5em;
  @media #{$tablet2} {
    top: -6em;
    transition: 0.3s;
  }
  @media #{$mobile} {
    top:-6em;
    transition: 0.3s;
  }
}

// Menu is dropped down in mobile view
#headerbar.menuShow {
  @media #{$tablet2} {
    top: 0;
    transition: 0.3s;
  }
  @media #{$mobile} {
    top: 0;
    transition: 0.3s;
  }
}

#clickDiv {
  width: 100%;
  height: 3em;
  position: absolute;
  //background-color: red;
  bottom:0;
  display: none;
  @media #{$tablet2} {
    display: block;
  }
  @media #{$mobile} {
    display: block;
  }
}

nav {
  background-color: $color8;
  width: $width1;
  margin-left: auto;
  margin-right: auto;
  height: 1.5em;
  text-align: center;
  @media #{$tablet1} {
    width: $width2;
  }
  @media #{$tablet2} {
    width: 100%;
    height: auto;
  }
  @media #{$mobile} {
    width: 100%;
    height: auto;
  }
}

nav a{
  color: $color6;
  display: inline-block;
  text-align: center;
  width: 19%;
  font-weight: bold;
  //text-size: 1.5em;
  margin-top: 0.2em;
  @media #{$tablet2} {
    display: block;
    width: 100%;
    margin: 0;
  }
  @media #{$mobile} {
    display: block;
    width: 100%;
    margin: 0;
  }
}

nav a:hover {
  color: $color1;
  transition: 0.3s;
}

main {
  width: $width1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9em;
  //background-color: red;
  @media #{$tablet1} {
    width: $width2;
    //transition: 0.3s;
  }
  @media #{$tablet2} {
    width: $width3;
    margin-top: 5em;
  }
  @media #{$mobile} {
    width: $width4;
    margin-top: 5em;
  }
}

article {
  padding-top: 6em;
  //margin-top: 3em;
  //background-color: red;
  @media #{$tablet2} {
    padding-top: 4em;
  }
  @media #{$mobile} {
    padding-top: 4em;
  }
}

.notice p {
  display: block;
  width: $width1;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: $color7;
  text-align: center;
  @media #{$tablet1} {
    width: $width2;
  }
  @media #{$tablet2} {
    width: $width3;
  }
  @media #{$mobile} {
    width: $width4;
  }
}

#about {
  padding-top: 0em;
}

article h1 {
  padding: 0.5em;
  background-color: $color7;
  border: 1px solid $color6;
  box-shadow: 0 4px 2px #888888;
}

figure {
  background-color: white;
}

#about p {
  display: block;
  width: 430px;
  float: right;
  @media #{$tablet1} {
    width: 350px;
    font-size: $size4 * 0.8;
  }
  @media #{$tablet2} {
    width: 100%;
    float: none;
    margin-top: 2em;
    font-size: $size4 * 0.8;
  }
  @media #{$mobile} {
    width: 100%;
    float: none;
    margin-top: 2em;
    font-size: $size4 * 0.6;
  }
}

#about figure {
  float: left;
  width: 300px;
  margin-top: 1.8em;
  @media #{$tablet1} {
    margin-top: 1.6em;
    width: 230px;
  }
  @media #{$tablet2} {
    float: none;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$mobile} {
    float: none;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

#resume section h1 {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $color2;
  font-size: $size3;
  @media #{$mobile} {
    font-size: $size3 * 0.6;
  }
}

#resume div {
  background-color: $color9;
  width: $width1;
  //font-size: $size5;
  margin: 0;
  @media #{$tablet1} {
    width: $width2;
  }
  @media #{$tablet2} {
    width: $width3;
  }
  @media #{$mobile} {
    width: $width4;
  }
}

#resume div p, #resume div ul {
  font-size: $size5;
  margin: 0.5em;
  width: 85%;
  @media #{$tablet1} {
    font-size: $size5 * 0.8;
  }
  @media #{$tablet2} {
    font-size: $size5 * 0.7;
    width: 75%;
  }
  @media #{$mobile} {
    font-size: $size5 * 0.6;
    width: 75%;
  }
}

date {
  display: block;
  width: 15%;
  float: right;
  margin: 0.5em;
  font-size: $size5;
  font-family: $font2;
  //vertical-align: baseline;
  @media #{$tablet1} {
    font-size: $size5 * 0.8;
  }
  @media #{$tablet2} {
    width: 20%;
    font-size: $size5 * 0.7;
  }
  @media #{$mobile} {
    width: 20%;
    font-size: $size5 * 0.6;
  }
}

/*
table {
  text-align: left;
  width: $width1;
  vertical-align: top;
  font-family: $font2;
  font-size: $size5;
  @media #{$tablet1} {
    width: $width2;
    font-size: $size5 * 0.8;
  }
  @media #{$tablet2} {
    width: $width3;
    font-size: $size5 * 0.7;
  }
  @media #{$mobile} {
    width: $width4;
    font-size: $size5 * 0.5;
  }
}

table div {
  background-color: $color7;
}

tr {
  background-color: $color7;
}

td {
  //border: 1px solid black;
  padding: 0.5em;
}
*/

#resume h2 {
  color: $color6;
  font-size: $size4;
  @media #{$mobile} {
    font-size: $size4 * 0.6;
  }
}

.linkblock img {
    //border: 2px solid $color7;
}

.linkblock {
  width: 100%;
  //height:12em;
  //background-color: $color7;
  //vertical-align: middle;
  //border: 1px solid $color7;
  margin-top: 1em;
  float: left;
  @media #{$tablet2} {
    width: 100%;
  }
  @media #{$mobile} {
    width: 100%;
  }
}

#links figure {
  width: 200px;
  float: left;
  @media #{$tablet2} {
    width: 150px;
  }
  @media #{$mobile} {
    width: 100px;
  }
}

.linkblock div {
  height: 50%;
  width: 60%;
  //margin-top: 2em;
  //background-color:red;
  float: right;
  @media #{$mobile} {
    //margin-top: 1em;
    width: 55%;
  }
}

.link1 {
  margin-top: 1.7em;
  @media #{$tablet2} {
    margin-top: 1.7em * 0.75;
  }
  @media #{$mobile} {
    margin-top: 1.7em * .5;
  }
}

.link2 {
  margin-top: 3.5em;
  @media #{$tablet2} {
    margin-top: 3.5em * .75;
  }
  @media #{$mobile} {
    margin-top: 3.5em * .35;
  }
}

.link3 {
  margin-top: 2.3em;
  @media #{$tablet2} {
    margin-top: 2.3em * .75;
  }
  @media #{$mobile} {
    margin-top: 2.3em * .35;
  }
}

.link4 {
  margin-top: 3.8em;
  @media #{$tablet2} {
    margin-top: 3.8em * .75;
  }
  @media #{$mobile} {
    margin-top: 3.8em * .35;
  }
}

.link5 {
  margin-top: 3em;
  @media #{$tablet2} {
    margin-top: 3em * .75;
  }
  @media #{$mobile} {
    margin-top: 3em * .5;
  }
}

.link6 {
  margin-top: 3em;
  @media #{$tablet2} {
    margin-top: 3em * .75;
  }
  @media #{$mobile} {
    margin-top: 3em * .5;
  }
}

.linkblock p {
  clear: both;
  height: auto;
  margin: 0;
}

footer {
  width: 100%;
  height: 5em;
  margin-top: 2em;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: $color7;
  border-top: 1px solid $color6;
  @media #{$mobile} {
    height: 6em;
  }
}

footer small {
  margin-top: 1em;
  display: block;
  @media #{$tablet2} {
    margin-top: 1em;
  }
  @media #{$mobile} {
    margin-top: 1em;
    width: $width4;
    margin-left: auto;
    margin-right: auto;
  }
}


