html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    text-decoration: underline;
    outline: none; }

del {
  text-decoration: line-through; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

table {
  font-size: inherit; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable, input[type=button], input[type=submit] {
  cursor: pointer; }

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

a.button {
  display: inline-block; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

ins {
  color: black;
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: 'arvo';
  src: url("../style/fonts/Arvo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'arvobold';
  src: url("../style/fonts/Arvo-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato';
  src: url("../style/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("../style/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../style/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: "arvo", serif;
  color: #606060;
  font-size: 1.7em; }
  @media only screen and (max-width: 479px) {
    h1 {
      font-size: 1.02em; } }

h2 {
  font-family: "lato", sans-serif;
  font-size: 1.4em; }
  @media only screen and (max-width: 479px) {
    h2 {
      font-size: 0.84em; } }

p, ul {
  font-family: "lato", sans-serif;
  font-size: 1.2em; }
  @media only screen and (max-width: 479px) {
    p, ul {
      font-size: 0.84em; } }

a {
  font-family: "lato", sans-serif;
  text-decoration: none;
  color: #007777; }

a:hover {
  color: #cccccc;
  transition: 0.3s; }

ul {
  list-style: disc outside none; }

li {
  margin-left: 1em; }
  @media only screen and (max-width: 479px) {
    li {
      margin-left: 1.1em; } }

html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: white; }

header {
  width: 100%;
  background-color: #73df00;
  position: relative;
  top: 0;
  display: block;
  height: 6em;
  box-shadow: 0 4px 2px #888888; }
  @media only screen and (max-width: 479px) {
    header {
      position: fixed;
      height: 3em;
      transition: 0.3s; } }

@media only screen and (max-width: 479px) {
  header.menu {
    height: 8em;
    transition: 0.3s; } }

.name {
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 479px) {
    .name {
      position: absolute;
      height: 3em;
      width: 100%;
      bottom: 0; } }

header h1 {
  width: 800px;
  margin: 0 auto;
  padding-top: 0.6em;
  color: white;
  font-size: 2em;
  text-align: left;
  text-shadow: 2px 2px #606060; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    header h1 {
      width: 700px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    header h1 {
      width: 420px; } }
  @media only screen and (max-width: 479px) {
    header h1 {
      width: 240px;
      font-size: 1.2em; } }

header h1:hover {
  cursor: default; }

#headerbar {
  background-color: #4ecf3c;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1.5em; }
  @media only screen and (max-width: 479px) {
    #headerbar {
      top: -5em;
      transition: 0.3s; } }

@media only screen and (max-width: 479px) {
  #headerbar.menuShow {
    top: 0;
    transition: 0.3s; } }

#clickDiv {
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0;
  display: none; }
  @media only screen and (max-width: 479px) {
    #clickDiv {
      display: block; } }

nav {
  background-color: #00bb00;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 1.5em;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    nav {
      width: 700px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    nav {
      width: 420px; } }
  @media only screen and (max-width: 479px) {
    nav {
      width: 100%;
      height: auto; } }

nav a {
  color: #606060;
  display: inline-block;
  text-align: center;
  width: 24%;
  font-weight: bold;
  margin-top: 0.2em; }
  @media only screen and (max-width: 479px) {
    nav a {
      display: block;
      width: 100%;
      margin: 0; } }

nav a:hover {
  color: white;
  transition: 0.3s; }

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    main {
      width: 700px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    main {
      width: 420px; } }
  @media only screen and (max-width: 479px) {
    main {
      width: 240px;
      margin-top: 5em; } }

article {
  margin-top: 2em; }

figure {
  background-color: white;
  width: 300px;
  border: 2px solid #cccccc; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    figure {
      width: 200px; } }
  @media only screen and (max-width: 479px) {
    figure {
      width: 150px; } }

.linkblock {
  width: 50%;
  background-color: #73df00;
  float: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .linkblock {
      width: 100%; } }
  @media only screen and (max-width: 479px) {
    .linkblock {
      width: 100%; } }
