html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    text-decoration: underline;
    outline: none; }

del {
  text-decoration: line-through; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

table {
  font-size: inherit; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable, input[type=button], input[type=submit] {
  cursor: pointer; }

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

a.button {
  display: inline-block; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

ins {
  color: black;
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: 'arvo';
  src: url("../style/fonts/Arvo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'arvobold';
  src: url("../style/fonts/Arvo-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato';
  src: url("../style/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("../style/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../style/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: "arvo", serif; }

h2 {
  font-family: "arvo", serif; }

p, ul {
  font-family: "lato", sans-serif; }

a {
  font-family: "lato", sans-serif;
  text-decoration: none;
  color: #cccccc; }

ul {
  list-style: disc outside none; }

li {
  margin-left: 1em; }

html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  background-color: #53ff00;
  position: relative;
  top: 0;
  display: block;
  height: 6em;
  box-shadow: 0 4px 2px #888888; }

header h1 {
  width: 800px;
  margin: 0 auto;
  padding-top: 0.6em;
  color: white;
  text-shadow: 2px 2px #555555; }

.headerbar {
  background-color: #7eef3c;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1.5em; }

nav {
  background-color: #00cc00;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 1.5em; }

nav a {
  color: #555555;
  display: inline-block;
  text-align: center;
  width: 24%; }

main {
  width: 800px;
  margin: 0 auto; }

article {
  margin-top: 2em; }
